<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ printf "%s | %s" .Title .Site.Title }}</title>
  {{ $style := resources.Get "style.scss" 
    | resources.ExecuteAsTemplate "style.scss" . 
    | resources.ToCSS }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>
<body>
  <nav class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
  {{ block "main" . }}
  {{ end }}
</body>
</html>
